<header class="admin-navbar">

    <div>

        <h2>Dashboard Admin</h2>

        <small>
            Waru Turi Fun Run 2026
        </small>

    </div>

    <img
        src="/images/logo_waruturi.png"
        class="avatar"
        alt="Logo"
    />

    <a
        href="/admin/logout"
        class="btn btn-danger"
    >
        Logout
    </a>


</header>