---
import MainLayout from "../layouts/MainLayout.astro";

import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Countdown from "../components/Countdown.astro";
import Category from "../components/Category.astro";
import Gallery from "../components/gallery.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import stats from "../components/stats.astro";
import Timeline from "../components/Timeline.astro";
import Sponsor from "../components/Sponsor.astro";
import Benefit from "../components/Benefit.astro";
---

<MainLayout title="Waru Turi Fun Run 2026">

    <Navbar />

    <main>

        <Hero />

        <Countdown />

        <stats />

        <Timeline />

        <Benefit />

        <Category />

        <Sponsor />

        <Gallery />

        <FAQ />

        <Footer />

    </main>

</MainLayout>