---
import "../styles/admin.css";

import AdminSidebar from "../components/admin/AdminSidebar.astro";

const {
  title,
  auth = false,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>

<body>
  {auth ? (
    <slot />
  ) : (
    <div class="admin-layout">
      <AdminSidebar />
      <main class="admin-content">
        <slot />
      </main>
    </div>
  )}
</body>
</html>